<style>
  /* Footer styles */
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#2c3e50, #425663);
    padding: 0.5rem;
    z-index: 10;
    margin-top: auto;
  }

  /* Esto es lo que faltaba! */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
</style>

<footer class="footer">
  <div class="container">
    <p>
      ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      - Recursos para la Gestión del Conocimiento en Ciencias de la Salud
    </p>
  </div>
</footer>
