<!--
=====================
  footer.html
  pie de página
=====================
-->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-copyright">
        <p>
          © <span class="current-year"></span> - Recursos para la Gestión del
          Conocimiento en Ciencias de la Salud
        </p>
      </div>
      <div class="footer-social">
        <a
          href="https://www.linkedin.com/in/ernestobarreralinares/"
          title="LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
          href="https://github.com/ernestobarrera"
          title="GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://twitter.com/ernestob"
          title="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
